<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <div style="text-align: center;">
        <div>
            <h1>Thêm</h1>
        </div>
        <form action="./add" method="POST">
            <input type="text" name="txtten" placeholder="Họ Tên"/><br>
            <input type="text" name="txtdiachi" placeholder="Địa Chỉ"/><br>
            <input type="text" name="txtluong" placeholder="Lương"/><br>
            <input type="submit" value="Thêm" style="background-color: brown; color: white;"/>
        </form>
    </div>
</body>

</html>